<h1>Here's how to play...</h1>
<div>
  <p1>Play rock. To play “rock,” simply ball your hand up into a fist when you and your opponent shoot. ...</p1>
</div>
<div>
  <p1>Play paper. Throw “paper” by extending your hand palm down with your fingers outstretched. ...</p1>
</div>
<div>
  <p1>Play scissors. For "scissors," use two fingers to mimic the shape of an open pair of scissors.</p1>
</div>
